$domino-green: #CEE5D0;
$domino-light: #F3F0D7;
$domino-brown: #E0C097;
$domino-red: #FF7878;

@import "domino";
@import "button";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  &.col {
    flex-direction: column;
    &.top {
      justify-content: flex-start;
    }
  }
}

.border {
  border: 3px solid darkorange;
  padding: 7px;
}

.big-blue {
  min-width: 100px;
  min-height: 100px;
  border: 3px solid darkblue;
  padding: 30px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  &.big {
    max-width: 1400px;
  }

  &_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  &_small {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    border: 3px solid lightgray;
    margin: 10px;

    &_digit {
      border: 1px solid pink;
      padding: 5px;
      color: pink;
      font-weight: bold;
    }
  }
    &_book {
      width: 200px;
      height: 300px;
      margin: 10px;
      border: 3px solid powderblue;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      
      small {
        height: 50px;
        color: crimson;
        overflow: hidden;
        padding: 5px;
        font-size: 12px;
      }
    }
}

form {
  border: 1px solid blue;
}

.m-3 {
  margin: 30px;
}

.nice-border {
  margin: 5px;
  padding: 10px;
  border: 1px solid paleturquoise;
  display: inline-block;
  cursor: pointer;
  &:hover {
    border-color: green;
  }
    span {
      margin: 0;
    }
}

.show-text {
  text-align: center;
}

.domino {
    &_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 1200px;
      width: 100%;
    }

    &_header {
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $domino-light;
      h1 {
        color: $domino-red;
        font-size: 30px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0 20px;
      }
    _sort {
      padding: 0 10px;
      h2 {
        color: $domino-red;
        font-size: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0 13px;
      }
      select {
        margin: 0 13px;
        outline: none;
        border: 2px solid $domino-green;
        font-size: 20px;
        border-radius: 4px;
      }
    }
  }
    &_create {
      background-color: $domino-light;
      width: 100%;
      padding: 20px;
      border-top: 2px solid $domino-brown;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
        &_domino {
          padding: 10px;
        }
      &_selects {
          select {
            margin: 0 10px;
            outline: none;
            border: 2px solid $domino-green;
            font-size: 25px;
            border-radius: 5px;
        }
      }
      h2 {
        margin: 0;
        color: $domino-brown;
      }
  }

  & .domino-bag {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: $domino-light;
    .plate {
      margin: 14px;
      cursor: pointer;
    }
  }

  &_modal {
    position: absolute;
    top: 40vh;
    z-index: 5000;
  }
  &_edit {
    background-color: $domino-light;
    width: 100%;
    padding: 20px;
    border-top: 2px solid $domino-brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 100px;
    position: relative;
    &_close {
      position: absolute;
      font-size: bold;
      top: 10px;
      right: 10px;
      color: $domino-red;
      cursor: pointer;
    }
      &_domino {
        padding: 10px;
      }
    &_selects {
        select {
          margin: 0 10px;
          outline: none;
          border: 2px solid $domino-green;
          font-size: 25px;
          border-radius: 5px;
      }
    }
    h2 {
      margin: 0;
      color: $domino-brown;
    }
}
}

.go {
  h1 {
    color: cornflowerblue
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
    a {
      padding: 5px;
      color: crimson;
    }
  }
}

.children {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  min-width: 150px;
  margin: 10px;
  padding: 10px;
  span {
    font-size: 20px;
    font-weight: bold;
  }
  &.nr1 {
    border: 2px solid crimson;
  }
  &.nr2 {
    border: 2px solid yellow;
  }
  &.nr3 {
    border: 2px solid brown;
  }
}

.books {
  width: 1024px;
  border: 1px solid lightslategrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__book {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
          color: darkred;
          font-size: 32px;
          padding: 20px;
          text-align: center;
      }
      &__author {
          padding: 25px;
          font-style: italic;
          color: peru;
          font-size: 20px;
      }
      &__price {
          margin: 0;
          padding: 20px;
          color: crimson;
          font-size: 30px;
          letter-spacing: 1px;
      }
  }
  &__list {
      padding: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      &__loading {
          padding: 50px;
      }
      &__book {
          width: 250px;
          height: 500px;
          border: 3px solid powderblue;
          margin: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          &__like {
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            padding-top: 10px;
            padding-left: 10px;
            i {
                color: $domino-red;
                padding: 2px;
                border: 1px solid $domino-red;
                margin: 4px;
                border-radius: 4px;
                cursor: pointer;
            }
        }
          &__title {
              height: 66px;
              overflow: hidden;
              padding: 10px;
              font-size: 18px;
              line-height: 1;
              text-align: center;
              a {
                  color: darkcyan;
                  font-weight: bold;
              }
          }
          &__img {
              padding: 10px;
          }
          &__author {
              padding: 5px;
              font-style: italic;
              color: peru;
          }
          &__price {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              span {
                  margin: 0;
                  padding: 10px;
                  color: crimson;
                  font-size: 22px;
                  letter-spacing: -0.5px;
              }
          }
      }
  }
  &_price-slider {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid $domino-light;
  }
}

.btn-shine {
  padding: 12px 48px;
  color: #fff;
  background: linear-gradient(to right, orangered 0, #fff 10%, orangered 20%);
  background-position: 0;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}

@-moz-keyframes shine {
  0% {
      background-position: 0;
  }
  60% {
      background-position: 180px;
  }
  100% {
      background-position: 180px;
  }
}

@-webkit-keyframes shine {
  0% {
      background-position: 0;
  }
  60% {
      background-position: 180px;
  }
  100% {
      background-position: 180px;
  }
}

@-o-keyframes shine {
  0% {
      background-position: 0;
  }
  60% {
      background-position: 180px;
  }
  100% {
      background-position: 180px;
  }
}

@keyframes shine {
  0% {
      background-position: 0;
  }
  60% {
      background-position: 180px;
  }
  100% {
      background-position: 180px;
  }
}

.calc {
  &_butt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_in {
    input {
      margin: 5px;
    }
  }
  &_res {
    font-size: 30px;
    background-color: darkcyan;
    color: white;
    padding: 10px 30px;
    margin: 10px;
    min-width: 400px;
  }
}